<% content_for :document_ready do %>
    $(".pw_buttonset").buttonize();

    $(document).keyup(function(event) {
        if (event.keyCode == '27') {
            // esc
            BeforeClose();
        }
    });


    $(".pw_toggle_check").toggle(
            function(){
                $(this).closest('form').find("input:checkbox")
                   .attr('checked', true)
                   .each( function(){ $(this).triggerHandler('click') });
            },
            function(){
                $(this).closest('form').find("input:checkbox")
                   .attr('checked', false)
                   .each( function(){ $(this).triggerHandler('click') });
            }
    );
    $(document).ready(function() {

        $('.valid_ids').click(function(){
            var idprem = $('#pw_rep_results :checkbox:checked').map(function() {
                                    return this.id;
                           }).get().join('&');
            $('#reportage_prem_photo').attr('value',idprem);
        });

        $('.pw_close_window').click(function(){
            window.close();
        });

        $('#pw_light_box_images').sortable({
            opacity: 0.75,
            revert: true,
            tolerance: 'pointer'

        });
        $('#pw_light_box_images').disableSelection();
    });
<% end %>
<% if notice %>
    ('<div><%= notice %></div>').dialog({
                    buttons: {
                        'OK': function() {
                            $(this).dialog('close');
                        }
                    }
                });
<% end %>

<div class='ui-widget-content'>

  <h2 style="padding-left: 10px;margin:10px 0 0 0;"><%= I18n.t('features.edit_feature') %></h2>
  <div class="pw_content" style="margin-left:0;padding:0 0 10px 10px">
    <%= render :partial => "menu" %>
    <%= render :partial => "thumbs"  %>
    <%= render :partial => 'form' %>
  </div>
</div>
