<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Téléchargements <%= @week_range %></h1>

    <table id='pw_statistics_list'>
       <tr class="pw_statistics_list_titles">

           <th width="250" align="center">Titre</th>
           <th width="40">HD</th>
           <th width="40">BD</th>
           <th width="40">Demande</th>
       </tr>
       <% @title_hd.sort{|a,b| b[1]<=>a[1]}.each do |name, value| %>
          <% unless (value == 0 and @title_bd.fetch(name, 0) == 0) %>
         <tr class="pw_theme">
           <td align="center"><%= name %></td>
           <td align="center"><%= value %></td>
           <td align="center"><%= @title_bd.fetch(name, 0) %></td>
           <td align="center"><%= @title_dem.fetch(name, 0) %></td>
         </tr>
          <% end %>
       <% end %>
     </table>
  <br><br>
  <p><strong>Total : (HD) <%= @total_title_hd %>            (BD) <%= @total_title_bd %>           (demande) <%= @total_title_dem %></strong></p>

  </body>
</html>