<%= form_tag({:controller => "providers", :action => "index"}, :method => "get", :class => "pw_panel", :id => "pw_provider_form") do -%>
  <div class="pw_panel-header" >
    <div id="pw_admin_provider_menu"></div>
    <div class='pw_panel-header-content'>
      <%= "#{@providers.count} / " unless @providers.blank? %> <%="#{@providers.count} "%>
    </div>
  </div>

  <div class="pw_panel-content">
    <span class="pw_toggle_check">
      <span class="glyphicon glyphicon-expand"></span>
      <strong><%= I18n.t('toggle_check_all')%></strong>
    </span>
    <fieldset class="pw_buttonset pw_providers">
      <div id="providers_tabs_space"></div>
    <% @providers.each do |p| %>
      <%= check_box_tag("providers[#{p.id}]", "1", false, "data-pw_provider_modif" => (raw escape_once(render(:partial => 'menu', :object => p))) )%>
      <%= label_tag("providers[#{p.id}]", p.name, :class => "btn btn-default") %>
    <% end %>
    </fieldset>

    <fieldset class="pw_buttonset pw_local_providers">
    <% @local_providers.each do |p| %>
      <%= check_box_tag( "providers[#{p.id}]", "1", false, "data-pw_provider_modif" => (raw escape_once(render(:partial => 'menu', :object => p))) )%>
      <%= label_tag("providers[#{p.id}]", p.name, :class => "btn btn-default") %>
    <% end %>
    </fieldset>
  </div>
<% end -%>

<script>
  buttonize($('#pw_provider_form'));
</script>