<div id="pw_footer">
  <%= I18n.t 'contact_pixpalace' %> : <%= PixPalaceContact['FR'][:phone] %> — <%= mail_to PixPalaceContact['FR'][:mail] %>
  | &copy;<%=I18n.t'pixpalace'%>
  <%= Time.now.year %>
</div>