<% content_for :document_ready do %>

    $(document).keyup(function(event) {
        if (event.keyCode == '27') {
            // esc
            window.close();
        }
    });

    $('#title_fslboxes span').click(function(){
      window.close();
    });

    $('.print_button').click(function(){
      window.print();
    })

    $('.pw_close_window').click(function(){
      window.close();
    });


<% end %>
<style type="text/css" media="all">
    ul.light_box_print {
            clear:both;
            padding:15px 0;
            width:100%;
    }
    ul.light_box_print li {
        font-size: 13px;
        text-align: center;
        float:left;
        padding-right: 25px;
        list-style:none outside none;
        width: 185px;
        height: 225px;
    }
    ul.light_box_print li img {
        max-width: 160px;
        max-height: 160px;
        width: expression(this.width > 160 ? "160px" : true);
        height: expression(this.height > 160 ? "160px" : true);
        margin-bottom:5px;
    }
    ul.light_box_print div {
        width: 160px;
    }
</style>

<div id="title_fslboxes">
  <%= I18n.t 'print.contact_sheet' %>
</div>
<div><%= "#{@light_box.name} #{I18n.t 'images'}: #{@light_box_images.count}" %></div>
<span class="clearfix"></span>

    <div class="print_menus" align="right" style="float:right;">
      <%= I18n.t 'print.text' %>
       <select name="leg" id="leg">
          <option selected value="sans"><%= I18n.t 'print.without' %></option>
          <option value="credit"><%= I18n.t 'print.credit' %></option>
          <option value="fichier"><%= I18n.t 'print.file_name' %></option>
         <option value="deux">Crédit + Nom</option>
      </select>
      <span title="<%= I18n.t 'print.print' %>" class="glyphicon glyphicon-print print_button" style="margin-left: 10px; margin-right: 10px; cursor: pointer;float:none;"></span>
      <span class="pw_close_window ui-state-focus" style="border-width: 0; background-color: transparent;">
        <span class="glyphicon glyphicon-remove" style=" display: inline-block; margin-right: 10px;float:none;"></span>
      </span>
    </div>

    <ul class='light_box_print' style="word-wrap:break-word">
      <% @light_box_images.each do |med| %>
        <li>
            <%= image_tag(med.thumb_location) %>
            <div class="credit" style="display:none"><%= med.normalized_credit %></div>
            <div class="fichier" style="display:none"><%= med.original_filename %></div>
            <div class="deux" style="display:none"><%= med.normalized_credit %><br><%= med.original_filename %></div>
        </li>

      <% end %>
    </ul>

<script type="text/javascript">
  $('#leg').change(function(){
    sel = "."+$(this).val();
    $(".light_box_print div").hide();
    $(sel).show();
  });


</script>
