<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/png" href="<%= asset_path 'pp_favicon.png' %>">
    <title><%= I18n.t'pixpalace' %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= raw dynamic_css %>

    <script type="text/javascript">

        $(document).ready(function(){

            $('.datepicker').datepicker({language: '<%= current_user.setting.language %>'});

            <%= yield :document_ready %>

            $("#navigation1 li").not(':last').append(' | ');


            $("#pw_search_form").submit(function() {
              $("#pw_provider_form :input:checked").each(function() {
                 $("#pw_search_form").append("<input type='hidden' name='"+$(this).attr('name')+"' value='"+$(this).val()+"' />")
               });
            });

            $("#pw_search_form").submit(function() {
              $("#pw_title_form :input:checked").each(function() {
                 $("#pw_search_form").append("<input type='hidden' name='"+$(this).attr('name')+"' value='"+$(this).val()+"' />")
               });
            });

            $("#pw_search_form").submit(function() {
              $("#pw_user_form :input:checked").each(function() {
                 $("#pw_search_form").append("<input type='hidden' name='"+$(this).attr('name')+"' value='"+$(this).val()+"' />")
               });
            });

            $('.current_page').keyup(function(event) {
                if (event.which == '13') {
                    var v = $('.current_page').val();
                    if (location.href.indexOf('?') > 0) { $(location).attr('href',location.href+'&page='+v); }
                    else { $(location).attr('href',location.href+'?page='+v); }
                }
                else if (event.which == '37' ) {
                    // <-
                    previous_page = $('.pagination:first .prev_page').attr('href');
                    if (previous_page){ document.location = previous_page };
                } else if (event.which == '39') {
                    // ->
                    next_page = $('.pagination:first .next_page').attr('href');
                    if (next_page){ document.location = next_page };
                }  else { event.preventDefault(); }
            });

            PwLayout();

            flashIt();
        });

        $(window).resize(function(){ 
          PwLayout();
          scrollingTableSetThWidth($('.fixed-header-table')); 
        });
        
    </script>
  </head>
  <body>
    
    <div id='pw_top' class="navbar-fixed-top">
      <%= render :partial => 'shared/pw_header_menu' %>
    </div>

    <div class="container_wrapper">
      <div id='pw_center'>
         <%= yield %>

         <%= render :partial => 'shared/pw_footer' %>
      </div>
    </div>
    

    <div id="modal_wrapper"></div>
  </body>
</html>